
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="css/hotspot.css" rel="stylesheet">
<link href="css/sociallogin.css" rel="stylesheet">


</head>
<body>

<p></p>

<div class="container">
  <form action="email.php" method="post">
    <div class="row">
      <h1 style="text-align:center">Click for Free Internet</h1>
      <div class="vl">
        <span class="vl-innertext">or</span>
      </div>

      <div class="col">
        <a href="/auth/facebook" class="fb btn">
          <i class="fa fa-facebook fa-fw"></i> Login with Facebook
         </a>
        
        <a href="/auth/google" class="google btn"><i class="fa fa-google fa-fw">
          </i> Login with Google+
        </a>
      </div>

      <div class="col">
        <div class="hide-md-lg">
          <p>Or sign in manually:</p>
        </div>

                <input type="email" name="email" placeholder="email" required>
        <input type="submit" value="Login">
      </div>
      
    </div>
  </form>
</div>




    <p>Your IP: {{client_ip}} Your MAC: {{client_mac}} AP MAC: {{node_mac}}</p>
 

</body>

