  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Hotspot Login</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/hotspot.css" rel="stylesheet">
  </head>
  <body>

    <div class="container">
        <div class="card card-container">
            <form id="loginForm" class="form-signin" action= method="post">
                <h3 class="text-center">Free WiFi</h3>
                <div class="message-text"> <!-- Comment out if unneccessary-->
                    <p>
                        We'd really like your feedback. For your a chance to win a bunch for free stuff, take our short survey.
                    </p>
                </div>
                <div>
                    <a class="btn btn-info btn-block" href="/survey">Take the Survey</a>
                </div>
                <div>
                        <a class="btn btn-primary btn-block" href="/click">I just want free Internet</a>
                </div>
                <div>
                    <br>
                        <a class="text-center" href="/terms">Proceeding means accepting our T&amp;Cs</a>
                    
                </div>
            </form><!-- /form -->
        </div><!-- /card-container -->
    </div><!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.11.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
    (function($){

        $('#inputTerms').change(function() {
            $('#login').prop('disabled', !$('#inputTerms').prop('checked'));
        });

        $('#login-wrapper').click(function() {
            if(!$('#inputTerms').prop('checked')) {
                $('.error-message').removeProp('hidden');
            }
        });

    })(jQuery);
    </script>
  </body>
