


<div id="content">
  <div id="container">
    <div class="header">
      <div id="icon_cell">
      </div>
    </div>

    <div id="continue">
      <h1>Terms of Service</h1>
      <p>Please use this network with respect to the law and common sense.</p>
      
      <button class="btn btn-info btn-lg" onclick="goBack()">Go Back</button>


    </div>
      </div>
  <div class="footer">
      <p>Client IP: {{client_ip}} Client MAC: {{client_mac}} AP MAC: {{node_mac}}</p>
   
      </div>
</div>
<script>
function goBack() {
    window.history.back();
}
</script>